body {
	color: #7a7a7a;
	font-weight: 300;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*#plus-header {
	background: linear-gradient(60deg,#ec407a,#d81b60);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 10px;
	margin-top: -15px;
	border-radius: 2px;
}

#pro-header {
	background: linear-gradient(60deg,#ffa726,#fb8c00);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 10px;
	margin-top: -15px;
	border-radius: 2px;
}

#premium-header {
	background: linear-gradient(60deg,#ef5350,#e53935);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 10px;
	margin-top: -15px;
	border-radius: 2px;
}

#mods-header {
	background: linear-gradient(60deg,#ef5350,#e53935);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 10px;
	margin-top: -15px;
	border-radius: 2px;
}*/

.container {
	padding: 100px 0px;
}

.card {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card .record-header {
	background-color: #00bcd4;
	background: linear-gradient(60deg,#ef5350,#e53935);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 10px;
	margin-top: -15px;
	border-radius: 2px;
}

.card h4.card-title {
	font-size: 28px;
	margin-bottom: 0px;
}

.dateform {
	margin-bottom: 0px;
}

.record-body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn {
	display: flex;
	align-items: center;
}

.btn-date {
	margin-top: 0px;
	margin-bottom: 0px;
}

.datefrom {
	margin-bottom: 0px;
	/*margin-right: 20px;*/
}

.date-separator {
	display: flex;
	align-items: center;
	margin: 0px 10px;
}

.dateto {
	margin-bottom: 0px;	
}

 .date {
	margin-right: 5px;
}

