

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #999;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.dg-wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-one {
	background-image: url(../images/main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.overlay-background {
	background-color: rgba(51,51,51,0.4);
	position: absolute;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
}


/*section two*/
.section-two {
	background-color: #fff;
	text-align: center;
}

.section-two h2 {
	font-size: 40px;
	color: #3c4858;
	text-transform: capitalize;
}

.section-two .divider-solid {
	width: 150px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 30px;
	margin-bottom: 0px;
}

.section-two .divider-solid2 {
	width: 75px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 10px;
	margin-bottom: 100px;
}


/*section three*/
.section-three h2 {
	font-size: 40px;
	color: #3c4858;
	text-transform: capitalize;
}

.section-three .divider-solid {
	width: 150px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 30px;
	margin-bottom: 0px;
}

.section-three .divider-solid2 {
	width: 75px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 10px;
	margin-bottom: 100px;
}

/***************************************************/

/*section four*/
.section-four {
	background-color: #fff;
	text-align: center;
}

.section-four h2 {
	font-size: 40px;
	color: #3c4858;
	text-transform: capitalize;
}

.section-four .divider-solid {
	width: 150px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 30px;
	margin-bottom: 0px;
}

.section-four .divider-solid2 {
	width: 75px;
	border-bottom: 1px solid #f44336;
	border-top: none;
	margin-top: 10px;
	margin-bottom: 100px;
}

.section-four .info {
	margin-left: 20px;
	margin-right: 20px;
}

.info .icon {
	margin-bottom: 20px;
}

.info .icon i::before{
	font-size: 46px;
	color: #f44336;
	margin-left: 0;
}

.info .description h4 {
	font-size: 20px;
	color: #3c4858;
	margin-bottom: 20px;
}

/*section three*/
.section-three {
	background-color: #f8f8f8;
	text-align: center;
}

