@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,500,700,900');

* {
	margin: 0;
	padding: 0;
}

body, p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	line-height: 24px;
}

h1 {

}

h2 {
	font-weight: 700;
	font-size: 36px;
	color: #3c4858;
}

h3 {
	font-weight: 700;
	font-size: 26px;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	
}

h5 {
	font-weight: 700;
	font-size: 15px;
}

h6 {
	font-weight: 500;
	font-size: 12px;
}

.navbar.navbar-transparent {
	background-color: transparent !important;
	box-shadow: none;
	padding-top: 30px;
}

.navbar {
	border: 0;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
	transition: all 0.15s;
}

.page-header-wrapper {
	background: url(../images/kv.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.page-header {
	height: 70vh;
	background-color: rgba(0,0,0,0.3);
}

.dg-wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.one {
	text-align: center;
}

.one h2.title {
	margin-bottom: 30px;
}

.info {
	padding-top: 50px;
}

.icon-chat {
	color: #00bcd4;
}

.icon-verify {
	color: #4caf50;
}

.icon-fingerprint {
	color: #f44336;
}

.info .icon>i {
	font-size: 60px;
}

.info .info-title {
	color: #3c4858;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*wrapper two*/
.two {
	text-align: center;
	position: relative;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.two:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 47, 75, 0.8);
}

.two h2.title {
	color: #fff;
	margin-bottom: 30px;
}

.info {
	padding-top: 50px;
}

.icon-chat {
	color: #00bcd4;
}

.icon-verify {
	color: #4caf50;
}

.icon-fingerprint {
	color: #f44336;
}

.info .icon>i {
	font-size: 60px;
}

.info .info-title {
	color: #3c4858;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*wrapper three*/
.three h2.title {
	margin-bottom: 30px;
}

.section-space {
	height: 50px;
	display: block;
}

.three .card {
	text-align: center;
}

.card-plain {
	background: transparent;
	box-shadow: none;
}

.card .card-header {
	position: relative;
    padding: 0;
    z-index: 1;
}

.card .card-header.card-header-image {
	border-radius: 6px;
}

.card .card-header.card-header-image img {
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card .card-header.card-header-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
}

.card-plain .card-body {
	padding-left: 5px;
	padding-right: 5px; 
}

.card .card-title {
	margin-top: 20px;
	margin-bottom: 0px;
}

.card-title {
	font-family: 'Roboto Slab', serif;
}

.card h4.card-title {
	font-size: 18px;
	font-weight: 700;
	color: #3c4858;
}

.card h6.card-category {
	text-transform: uppercase;
}

.three .card-description {
	margin-top: 20px;
}

.three .btn {
	margin-top: 20px;
	border-radius: 20px;
}

.three .btn:hover {
	    box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2);
}