@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,500,700,900');

* {
	margin: 0;
	padding: 0;
}

body, p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5rem;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-weight: 700;
	font-size: 2.25rem;
	color: #3c4858;
}

h3 {

}

h4 {
	font-weight: 700;
	font-size: 1.125rem;
	
}

.navbar-transparent {
	padding-top: 30px;
	transition: all 0.15s;
}

.scroll {
	color: #999;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}

.page-header-wrapper {
	background: url(../images/kv.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.page-header {
	height: 70vh;
	/*background: linear-gradient(to bottom, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2));*/
	background-color: rgba(0,0,0,0.3);
}

.dg-wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.one {
	text-align: center;
}

.info {
	padding-top: 50px;
	padding-bottom: 50px;
}

.icon-chat {
	color: #00bcd4;
}

.icon-verify {
	color: #4caf50;
}

.icon-fingerprint {
	color: #f44336;
}

.info .icon>i {
	font-size: 3.85rem;
}

.info .info-title {
	color: #3c4858;
	margin-top: 20px;
	margin-bottom: 10px;
}